<section class="card">
  <div id="projects-list-header" class="card-header text-center fs-4">
    {{ title }}
  </div>
  <ul id="projects" class="list-group list-group-flush">
    <li class="project-list-item list-group-item p-0"
        *ngFor="let project of projects"
        [class.active]="project == selectedProject">

      <div class="project-list-item-clickable">
        <div class="my-0 px-3" (click)="onSelect(project)">{{ project.name }}</div>
        <button type="button" class="btn btn-outline-success btn-sm"
                [class.d-none]="project.isCompleted()"
                [class.text-white]="project == selectedProject"
                [class.border-white]="project == selectedProject"
                (click)="project.complete()">
          Complete
        </button>
        <button type="button" class="btn btn-outline-danger btn-sm"
                [class.text-white]="project == selectedProject"
                [class.border-white]="project == selectedProject"
                (click)="deleteProject(project)">
          Delete
        </button>
      </div>

      <div class="project-detail card mx-3 my-3 text-black"
           [class.d-none]="project != selectedProject">
        <p class="card-header text-center">Project Details</p>
        <div class="card-body">
          <div class="details-header">
            {{ project.name }}
            <small class="project-date">{{ project.start }} - {{ project.end }}</small>
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>
